In [14]:
# to_datetime()
import pandas as pd
s = pd.Series(["2025-02-13 14:30:00", "2025-08-01 09:15:00", "2025-04-15 13:27:15"])

s = pd.to_datetime(s, format = "%Y-%m-%d %H:%M:%S")
s

0   2025-02-13 14:30:00
1   2025-08-01 09:15:00
2   2025-04-15 13:27:15
dtype: datetime64[ns]

In [8]:
# Unix 타임스탬프 // 1970년도 1월 1일 오전 0시부터 몇초 지난 시간
s = pd.Series([1242141, 5123122, 12551223])
pd.to_datetime(s, unit = "s")

0   1970-01-15 09:02:21
1   1970-03-01 07:05:22
2   1970-05-26 06:27:03
dtype: datetime64[ns]

In [16]:
s = pd.Series(["2025-02-13 14:30:00", "2025-08-01 09:15:00", "2025-04-15 13:27:15"])

s = pd.to_datetime(s, format = "%Y-%m-%d %H:%M:%S", errors = "coerce") #errors = "coerce" : 못바꾸는걸 누락값으로 변경 시키는 코드
s.dt.year, s.dt.month, s.dt.day, s.dt.hour, s.dt.minute, s.dt.second

(0    2025
 1    2025
 2    2025
 dtype: int32,
 0    2
 1    8
 2    4
 dtype: int32,
 0    13
 1     1
 2    15
 dtype: int32,
 0    14
 1     9
 2    13
 dtype: int32,
 0    30
 1    15
 2    27
 dtype: int32,
 0     0
 1     0
 2    15
 dtype: int32)

In [17]:
s.dt.dayofweek #0은 월요일

0    3
1    4
2    1
dtype: int32

In [19]:
s.dt.day_name()

0    Thursday
1      Friday
2     Tuesday
dtype: object

In [22]:
s.dt.is_month_end #월 말인지 확인

0    False
1    False
2    False
dtype: bool

In [23]:
s.dt.is_month_start # 월 초인지 확인

0    False
1     True
2    False
dtype: bool

In [26]:
s.dt.quarter # 몇 분기인지 확인

0    1
1    3
2    2
dtype: int32

In [27]:
s.dt.to_period("M") # ()안의 값까지만 출력

0    2025-02
1    2025-08
2    2025-04
dtype: period[M]