In [9]:
#클래스: 붕어빵을 만드는 틀 // 객체를 만들어내는 도구
#함수와 변수들을 모아놓은 주머니

class Bank:
    #객체를 만들때 자동으로 딱 한번 실행되는 함수
    def __init__(self):
        print("가입을 축하합니다.")
        self.money=0
        
    def deposit(self, x):
        self.money+=x

In [3]:
#person1 은 Bank에서 제공하는 모든 기능을 사용할 수 있는 권한
person1=Bank()
person1.deposit(70000)

In [4]:
person2=Bank()
person2.deposit(30000)

In [5]:
person1.money

70000

In [7]:
person2.money

30000

In [13]:
person3=Bank()
person3.deposit(30000)
person3.deposit(50000)
person3.money

가입을 축하합니다.

80000

In [14]:
#Bank2 는 Bank에서 제공하는 모든 기능을 상속받는다.
class Bank2(Bank):
    pass

In [15]:
person4=Bank2()

가입을 축하합니다.

In [23]:
# 예외처리: 에러가 발생했을 때 그 에러를 무시하는 방법
try:
    n=int(input("입력: "))
    result=10/n
    print(result)
except ZeroDivisionError:
    print("0으로 나누지 마세요.")
except ValueError:
    print("제대로 된 숫자를 넣어주세요.")

입력:  h

제대로 된 숫자를 넣어주세요.

In [24]:
#try 안에서 에러가 났을때, 에러를 발생시키지말고 except를 실행해라.
try:
    n=int(input("입력: "))
    result=10/n
    print(result)
except:
    pass

입력:  0

In [27]:
#파일 생성
f=open("test.txt","wt") #write text
for n in range(1,11):
    f.write(f"{n}번째 줄입니다.\n")

f.close() #저장하고 닫기

In [28]:
#파일 생성
f=open("test.txt","at") #attach text
for n in range(1,11):
    f.write(f"{n}번째 줄입니다.\n")

f.close() #저장하고 닫기

In [31]:
f=open("test.txt","rt") #read text

text=f.read()
f.close()

text.split("\n")

['1번째 줄입니다.',
 '2번째 줄입니다.',
 '3번째 줄입니다.',
 '4번째 줄입니다.',
 '5번째 줄입니다.',
 '6번째 줄입니다.',
 '7번째 줄입니다.',
 '8번째 줄입니다.',
 '9번째 줄입니다.',
 '10번째 줄입니다.',
 '1번째 줄입니다.',
 '2번째 줄입니다.',
 '3번째 줄입니다.',
 '4번째 줄입니다.',
 '5번째 줄입니다.',
 '6번째 줄입니다.',
 '7번째 줄입니다.',
 '8번째 줄입니다.',
 '9번째 줄입니다.',
 '10번째 줄입니다.',
 '']

In [32]:
import pickle

box=[1,2,3,4,5]

f=open("my_list.txt","wb") #write binary
pickle.dump(box,f) #box를 f에 저장시키겠다
f.close()

In [34]:
f=open("my_list.txt","rb")
box2=pickle.load(f)
f.close()

box[2:4]

[3, 4]

In [36]:
#라이브러리: 달력
import calendar

print(calendar.calendar(2026))

                                  2026

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1                         1
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       2  3  4  5  6  7  8
12 13 14 15 16 17 18       9 10 11 12 13 14 15       9 10 11 12 13 14 15
19 20 21 22 23 24 25      16 17 18 19 20 21 22      16 17 18 19 20 21 22
26 27 28 29 30 31         23 24 25 26 27 28         23 24 25 26 27 28 29
                                                    30 31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                   1  2  3       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       4  5  6  7  8  9 10       8  9 10 11 12 13 14
13 14 15 16 17 18 19      11 12 13 14 15 16 17      15 16 17 18 19 20 21
20 21 22 23 24 25 26      18 19 20 21 22 23 24      22 23 24 25 26 27 28
27 28 29 30               25 26 27 28 29 30 31      29 30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2          1  2  3  4  5  6
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       7  8  9 10 11 12 13
13 14 15 16 17 18 19      10 11 12 13 14 15 16      14 15 16 17 18 19 20
20 21 22 23 24 25 26      17 18 19 20 21 22 23      21 22 23 24 25 26 27
27 28 29 30 31            24 25 26 27 28 29 30      28 29 30
                          31

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
          1  2  3  4                         1          1  2  3  4  5  6
 5  6  7  8  9 10 11       2  3  4  5  6  7  8       7  8  9 10 11 12 13
12 13 14 15 16 17 18       9 10 11 12 13 14 15      14 15 16 17 18 19 20
19 20 21 22 23 24 25      16 17 18 19 20 21 22      21 22 23 24 25 26 27
26 27 28 29 30 31         23 24 25 26 27 28 29      28 29 30 31
                          30

In [40]:
calendar.weekday(2012,12,31)

calendar.MONDAY

In [41]:
from calendar import weekday as wd
wd(2025,12,31)

calendar.WEDNESDAY

In [42]:
!pip install tqdm

Requirement already satisfied: tqdm in c:\users\campus4d032\anaconda3\lib\site-packages (4.66.5)
Requirement already satisfied: colorama in c:\users\campus4d032\anaconda3\lib\site-packages (from tqdm) (0.4.6)